body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(40, 40, 50);
}

#global-container {
	height: 500px;
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border: 1px solid white;
	background-color: rgb(50, 60, 50);
}

#title {
	font-size: 24px;
	color: white;
	margin: 40px;
}

#result-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(245, 245, 245);
	border: 1px solid grey;
	height: 180px;
	width: 280px;
	overflow: scroll;
	border-radius: 5px;
	text-align: center;
	padding: 30px;
}

#result-question {
	font-size: 18px;
	margin: 20px 0 0 0;
}

#result-punchline {
	font-size: 18px;
	color: green;
	margin-top: 20px;
}

#fetch-btn {
	height: 40px;
	width: 120px;
	font-size: 14px;
	border: 1px solid white;
	background-color: rgba(20, 25, 20, 0.9);
	color: white;
	cursor: pointer;
	margin: 40px;
	border-radius: 2px;
}

#fetch-btn:hover {
	background-color: rgba(220, 220, 220, 0.2);
}
