*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: rgb(50, 49, 52);
}
#header{
    background-image: url(./assets/background.jpg);
    background-size: cover;
    height: 100vh
    
}

h1{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#logo{
    color: white;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

}


#container{
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;

}

.row{
    display: inline-block;
    background-color: white;


}

h2{
    margin-top: 25px;
}

.row > p{
    text-align: start;
    font-weight: bold;


}

.img{
    height: 150px;
    width: 250px;
    padding: 30px;
    border-radius: 50px;
    float: left;
}
